:root{
    --box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  header{
    min-height: 70px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 70px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    justify-content: center;
    
    }
    
 .logo a{
      display: flex;
      align-items: center;
    }
    
.logo img{
      max-width: 35px;
      cursor: pointer;
      margin-right:4px ;
    }

    .logo span{
        font-size: larger;
        font-weight: 500;
    }

    a{
        text-decoration: none;

    }